nav {
    height: 75px;
}

.btn {
    width: 25%;
    background-color: darkslategrey;
    border: darkslategrey
}

.bottom-image {
    height: auto;
    max-width: 100%;
}

.bottom-column {
    height: 300px;
}

footer {
    height: 50px;
}